

@import url('https://fonts.googleapis.com/css2?family=Hanalei&display=swap');:root {
  --main_color: #3F2259;
  --color_dark: #1dd231;
  --text_gray: #8390a2;
}

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  list-style: none;
  text-decoration: none;
}

/* page login  start */

.main_login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.main_login::before,
.main_login::after {
  content: "";
  position: absolute;
  width: 500px;
  height: 300px;
}

.main_login::before {
  background-image: linear-gradient(to right, #ff1464, purple);
  bottom: 0;
  left: 0;
  clip-path: polygon(0 0, 0 100%, 100% 100%);
}

.main_login::after {
  background-image: linear-gradient(to right, #ff1464, purple);
  top: 0;
  right: 0;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}

@media (max-width: 767px) {
  .main_login::before,
  .main_login::after {
    width: 300px;
    height: 150px;
  }
}

.text_login {
  margin-bottom: 30px;
  color: #ff1464;
}

.login {
  text-align: center;
  position: relative;
  width: 280px;
}

.input_login,
.button_login {
  width: 100%;
  border: 0;
  border-radius: 20px;
}

.input_login {
  border-bottom: 2px solid #444;
  padding: 12px 40px 12px 20px;
}

.input_login,
.button_login,
.group i {
  font-size: 13px;
  font-weight: 600;
}

.group {
  margin-bottom: 20px;
  position: relative;
}

.group i {
  position: absolute;
  top: 15px;
  right: 20px;
}

.button_login {
  padding: 12px;
  cursor: pointer;
  background-image: linear-gradient(to right, #ff1464, purple);
}

.button_login,
.button_login i {
  color: #fff;
}

.button_login i {
  margin-right: 5px;
}

.input_login:focus,
.input_login:focus::placeholder,
.input_login:focus + i {
  color: var(--main_color);
}

.input_login:focus,
.button_login:focus {
  outline: 0;
  
}

/* page login  end */

/* page silderbar  start */

.sildebar {
  width: 254px;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  background-color: var(--main_color);
  z-index: 100;
  transition: width 300ms;
  
}
.silder_brand {
  height: 90px;
  padding: 1rem 0rem 1rem 2rem;
  color: #fff;
}
 
.silder_brand span {
  display: inline-block;
  padding-inline-end: 1rem;
}

.silder_menu li {
  width: 100%;
  margin-bottom: 1.7rem;
  padding-left: 1rem;
}

.silder_menu a {
  padding-left: 1rem;
    display: block;
  color: #fff;
  font-size: 1.1rem;
  font-family: 'Hanalei', cursive;

}


.silder_menu a.active {
  background-color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--main_color);
  border-radius: 30px 0 0 30px;
}
.silder_menu a span:first-child {
  padding-right: 1rem;
  font-size: 1.5rem;
}
#nav_toggle:checked + .sildebar {
  width: 70px;
}
#nav_toggle:checked + .sildebar .silder_brand,
#nav_toggle:checked + .sildebar li {
  padding-left: 1rem;
  text-align: center;
}

#nav_toggle:checked + .sildebar .silder_brand li a {
  padding-left: 0rem;
}

#nav_toggle:checked + .sildebar .silder_brand h3 span:last-child,
#nav_toggle:checked + .sildebar li a span:last-child {
  display: none;
}

#nav_toggle:checked ~ .main_content {
  margin-left: 70px;
}

#nav_toggle:checked ~ .main_content header {
  width: calc(100% - 70px);
  left: 70px;
}
/* page silderbar  end */
header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 4px 4px 10px rgb(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 254px;
  z-index: 100;
  width: calc(100% - 254px);
  transition: left 300ms;
}
#nav_toggle {
  display: none;
}
.crouser {
  cursor: pointer;
}
header h3 {
  color: #222;
  font-family: 'Ballet', cursive;
}
header label span {
  font-size: 1rem;
  padding-right: 1rem;
}

.search_wrapper {
  border: 1px solid #ccc;
  border-radius: 30px;
  height: 50%;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.search_wrapper input {
  height: 100%;
  border: none;
  outline: none;
  padding: 0.5rem;
}

.search_wrapper span {
  display: inline-block;
  font-size: 1.5rem;
  padding: 0rem 1rem;
}

.user_wrapper {
  display: flex;
  align-items: center;
}

.user_wrapper img {
  border-radius: 50%;
  margin-right: 1rem;
}

.user_wrapper h4 {
  margin-bottom: 0rem !important;
}

.user_wrapper small {
  display: inline-block;
  color: var(--text_gray);
  margin-top: -10px !important;
}
/* page header  start */

/* page header  end */

/* page main content   start */
.main_content {
  margin-left: 254px;
  transition: margin-left 300ms;
  
}
/* page main content   end */

main {
  margin-top: 84px;
  padding: 2rem 1rem;
  background-color: #f1f5f9;
  min-height: calc(100vh - 90px);
}
.dashboad_careds {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 1rem;
}
.card_single {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 2rem;
  border-radius: 2px;
}
.card_single div:last-child span {
  color: var(--main_color);
  font-size: 3rem;
   

}
.card_single div:first-child span {
  color: var(--text_gray);
}

@media only screen and (max-width: 1200px) {
  .sildebar {
    width: 70px;
  }
  .sildebar .silder_brand,
  .sildebar li {
    padding-left: 1rem;
    text-align: center;
  }

  .sildebar .silder_brand li a {
    padding-left: 0rem;
  }

  .sildebar .silder_brand h2 span:last-child,
  .sildebar li a span:last-child {
    display: none;
  }

  .main_content {
    margin-left: 70px;
  }

  .main_content header {
    width: calc(100% - 70px);
    left: 70px;
  }

  /* hover */
  .sildebar:hover {
    width: 254px;
    z-index: 200;
  }
  .sildebar:hover .silder_brand,
  .sildebar:hover li {
    padding-left: 2rem;
    text-align: left;
  }

  .sildebar:hover .silder_brand li a {
    padding-left: 1rem;
  }

  .sildebar:hover .silder_brand h3 span:last-child,
  .sildebar:hover li a span:last-child {
    display: initial;
  }
  #nav_toggle:checked ~ .main_content {
    margin-left: 0rem !important;
  }
}

@media only screen and (max-width: 960px) {
  .dashboad_careds {
    grid-template-columns: repeat(3, 1fr);
  }
  
 
}

@media only screen and (max-width: 760px) {
  .dashboad_careds {
    grid-template-columns: repeat(2, 1fr);
  }
  .sildebar {
    left: -100% !important;
  }
  .main_content {
    margin-left: 0rem;
    width: 100%;
  }
  header {
    left: 0rem !important;
    width: 100% !important;
  }
  #nav_toggle:checked + .sildebar {
    width: 254px;
    z-index: 100;

    left: 0 !important;
  }

  /* hover */
  .sildebar:hover {
    width: 254px;
    z-index: 200;
  }
  #nav_toggle:checked + .sildebar .silder_brand,
  #nav_toggle:checked + .sildebar li {
    padding-left: 2rem;
    text-align: left;
  }

  #nav_toggle:checked + .sildebar .silder_brand li a {
    padding-left: 1rem;
  }

  #nav_toggle:checked + .sildebar .silder_brand h3 span:last-child,
  #nav_toggle:checked + .sildebar li a span:last-child {
    display: initial;
  }
}

@media only screen and (max-width: 760px) {
  .dashboad_careds {
    grid-template-columns: 100%;
   
  }
}



.table_user{
  margin: auto;
  width: 90%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
max-height: 100%;
}
.but_user{
  margin-bottom: 50px;
  padding: 12px;
  cursor: pointer;
	background: var(--main_color) ;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  }
  .but_user a{
    
    padding: 12px;
    cursor: pointer;
    background: var(--main_color) ;
    color: #fff;
    font-weight: bold;
  
    }
  .no_user{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    color: var(--main_color) ;;
  }
 .img_user{
   width: 100px;
   height: 100px;
   border-radius: 10px;
 }
.but_user:focus {
  outline: 0;

}
.table_user table { 
	/* width: 100%;  */
	border-collapse: collapse; 
	/*  */
  background-color: #fff;
  width: 100%
	}

/* Zebra striping */
tr:nth-of-type(odd) { 
	background: #fff; 
	}

th { 
	background: var(--main_color) ;
	color: white; 
	font-weight: bold; 
	}
td small{
  padding: 10px;
  border-radius: 6px;
  color:rgb(255, 255, 255)
}
td, th { 
	padding: 10px; 
	border: 1px solid var(--main_color) ; 
	text-align: center; 
	font-size: 18px;
	}
  .td span{
    color: var(--main_color);
    margin-left: 10px;
    cursor: pointer;
  }

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table { 
	  	width: 100%; 
	}

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}

	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		/* Label the data */
		content: attr(data-column);

		color: #000;
		font-weight: bold;
	}

}

/* Add User start */




.wrapper{
  max-width: 500px;
  width: 100%;
  background: #fff;
  margin: 20px auto;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
  padding: 30px;
}

.wrapper .title{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: var(--main_color) ; 
  text-transform: uppercase;
  text-align: center;
}

.wrapper .form{
  width: 100%;
}

.wrapper .form .inputfield{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.wrapper .form .inputfield label{
   width: 200px;
   color: #757575;
   margin-right: 10px;
  font-size: 14px;
}

.wrapper .form .inputfield .input,
.wrapper .form .inputfield .textarea{
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.wrapper .form .inputfield .textarea{
  width: 100%;
  height: 125px;
  resize: none;
}

.wrapper .form .inputfield .custom_select{
  position: relative;
  width: 100%;
  height: 37px;
}

.wrapper .form .inputfield .custom_select:before{
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: #d5dbd9 transparent transparent transparent;
  pointer-events: none;
}

.wrapper .form .inputfield .custom_select select{
  -webkit-appearance: none;
  -moz-appearance:   none;
  appearance:        none;
  outline: none;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 8px 10px;
  font-size: 15px;
  border: 1px solid #d5dbd9;
  border-radius: 3px;
}


.wrapper .form .inputfield .input:focus,
.wrapper .form .inputfield .textarea:focus,
.wrapper .form .inputfield .custom_select select:focus{
  border: 1px solidvar(--main_color) ; ;
}

.wrapper .form .inputfield p{
   font-size: 14px;
   color: #757575;
}
.wrapper .form .inputfield .check{
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
  cursor: pointer;
}
.wrapper .form .inputfield .check input[type="checkbox"]{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.wrapper .form .inputfield .check .checkmark{
  width: 15px;
  height: 15px;
  border: 1px solid var(--main_color) ; 
  display: block;
  position: relative;
}
.wrapper .form .inputfield .check .checkmark:before{
  content: "";
  position: absolute;
  top: 1px;
  left: 2px;
  width: 5px;
  height: 2px;
  border: 2px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
  display: none;
}
.wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark{
  background: var(--main_color) ; 
}

.wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark:before{
  display: block;
}

.wrapper .form .inputfield .btn{
  width: 100%;
   padding: 8px 10px;
  font-size: 15px; 
  border: 0px;
  background:  var(--main_color) ; 
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

.wrapper .form .inputfield .btn:hover{
  background: var(--main_color) ; 
}

.wrapper .form .inputfield:last-child{
  margin-bottom: 0;
}

@media (max-width:420px) {
  .wrapper .form .inputfield{
    flex-direction: column;
    align-items: flex-start;
  }
  .wrapper .form .inputfield label{
    margin-bottom: 5px;
  }
  .wrapper .form .inputfield.terms{
    flex-direction: row;
  }
}



/* Add User end */

.blog_card{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.card{
  width: 30%;
  /* height: 100%; */
  background:#fff ;
  /* overflow-y: scroll; */
  margin-bottom: 30px;
  border-radius: 30px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
/* .card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
} */

.card img{
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
}
.card p{
  color: #585456;
  text-align: center;
  margin: 20px 0;
}

.card .moment{
  padding: 20px 30px;
  color:#9c9494;
}
.card .card_fun{
  display:flex;
  justify-content:space-around;
  align-items: center;
  width: 100%;
  margin: 30px 0;
}

.card .card_fun a{
font-size:20px;
color:var(--main_color);
cursor: pointer;
}
/* blog css id content */

.text_blog_id{
  text-align: center;
  margin-bottom: 30px;
}
.card .card_fun{
  width: 100%;
}
.img_blog_id{
  width: 90%;
  height: 30%;
  border-radius:30px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 50px;
}
.content_blog_id{
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ql-editor iframe {
  min-height: 300px;
}

.ql-editor img {
  max-height: 300px;
  object-fit: contain;
}

.postPage iframe {
  min-height: 400px;
}
.ql-syntax{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}
.ck-editor {
  color: var(--color);
}